$red: #dd0000;
$gray: #777772;
$dark-gray: #404040;
$blue: #002868;
$yellow: #efb200;
$green: #58992f;
$orange: #ff8814;
$white: #fff;
$light-blue: #f2f7fa;

$full-width: 100%;

.legal {
	font-size: 50px;
}