// Project Styles


// This is where you will build your main stylesheet. Below is just an example of how you could break it up - REMOVE THIS LINE
.grunt {
	text-align: center;
	color: red;
	font-size: 100%;
}

.watch {
	font-size: 30px;
}

// Buttons
//@import 'partials/_buttons.scss';


// Masthead
//@import 'partials/_masthead';


// Nav
//@import 'partials/_nav-primary';


// Banners
//@import 'partials/_banners';


// Heroes
//@import 'partials/_heroes';


// Footer
//@import 'partials/_footer';